* {
  color: white;
  background-color: #353535;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

header div {
  display: grid;
}

input,
button {
  background-color: #fff;
  color: black;
}
main {
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}
.card {
  display: flex;
  width: 50vw;
  height: auto;

  padding: 3rem;
  border: 29px solid yellow;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;

  max-height: auto;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  min-width: 85px;
  min-height: 55px;
  border: 1px solid brown;
}

.title {
  text-transform: uppercase;
}
