* {
  color: white;
  background-color: #353535;
}

.config {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  width: 50vw;
  height: auto;

  padding: 3rem;
  border: 29px solid yellow;
}

.config div {
  display: grid;
  margin: 1.5rem;
}

input,
button {
  background-color: #fff;
  color: black;
}
main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}
.back {
  border-style: double;
}
.card {
  display: flex;
  width: 50vw;
  height: auto;

  padding: 3rem;
  border: 29px solid yellow;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;

  max-height: auto;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  min-width: 85px;
  min-height: 55px;
  border: 1px solid brown;
}

.title {
  text-transform: uppercase;
}

.none {
  display: none;
}
